
# MSS482 - GRAPHING TECHNOLOGY IN MATHEMATICS AND SCIENCE

**SEMESTER 1 2023/2024**


>R.U.Gobithaasan (2023). School of Mathematical Sciences, Universiti Sains Malaysia.
[Official Website](https://math.usm.my/academic-profile/705-gobithaasan-rudrusamy) 


<p align="center">
     Â© 2023 R.U. Gobithaasan All Rights Reserved.
</p>

# Lab exercise: Introduction to Python

## Fill up the following declaration details:
**I certify that this report is my own work, based on my personal study and/or research. I also certify that this report has not previously been submitted for assessment in any other unit, and that I have not copied in part or whole or otherwise plagiarised the work of other students and/or persons.**
- Name:
- Matrix Number: 
- Date:

<b>Q1: What is the data type of the following variables?</b>

1. x = 4 <br>
2. y = true <br>
3. z = 3.7 <br>
4. s = "This is a string" <br>

<b>Q2: Perform the following arithmetic operations:<b>

Let $z = 3.7$. Find <br>
a. $z - 2$ <br>
b. $z \div3 $ <br>
c. nearest integer value when $z \div 3$ <br>
d. $z^2$ <br>
e. $\sqrt{z^2}$  <br>
f. $z^2$ (use `pow()`) <br>
g. round off $z$ to its nearest integer <br>

<b>Q3 : Using `math` module find <b>
    
1. Let $x = 4$; <br>
a. $\sqrt{x}$ <br>
b. $x^2$ <br>
c. $e^x$<br>

2. Let $z = {3}{\pi}$  <br>
a. $sin(z)$ <br>
b. $tanh(z)$ <br>
    
3. Let $x = nan$ and check is it 'not a number' <br>
    
4. Let $x = \infty$ and check whether it is infinite or not <br>

<b> Q4 : If y1 = True and y2 = False, find the following logical operators
    
1. Logical AND operator <br>
2. Logical OR operator <br>
3. Logical NOT operator <br>

<b>Q5 : For the given string excute the following statements.
  
A string is 'This is a string'; <br>

a. print the first word of the string  <br>
b. replace 'a' with 'another' <br>
c. replace 'is' with 'at' <br>
d. find the position of 'a' <br>

### 1.2 Data Types or called Containers

<b> Q6 : Execute the following statements. <b>
    
1. Given intlist = [1,3,4,7,9] <br>
a. What is the data type of the given sequence <br>
b. Find the third elements from the list <br>
c. Find the last three elements from the list <br>
d. How many elements present in the list <br>
e. What is the sum of all the element in the list <br>
d. Insert  '11' to the list and then remove added element  <br>
e. Concatenate [11,13,15] to the given list  <br>
f. Replicate the list three times  <br>
g. Replace the second element with 4<br>
f. Sort elements of the given list in decending order  <br>
     
2. Create a list between 0 and 10 with the stepsize of two. (Name the list intlist2)

<b> Q7 : Given keys = ['apples', 'oranges', 'bananas', 'cherries'] and values = [3, 4, 2, 10] <b>
    
1. Convert the two given list into a dictionary (define the new dictionary as fruits) <br>
2. Sort the keys from the 'fruits' dictionary <br>
3. Sort the items in 'fruits' dictionary by keys in ascending order <br>
4. Sort the items in 'fruits' dictionary by values in ascending order <br>

<b> Q8 : Execute the following statements<b> 
    
1. Print an empty set
2. Given y1 = {'c', 'd', 'e', 'f','e'}; y2 = {'x','c','d', 'f', 'e'}; y3 = {'c','a','t'} <br>
a. print y1 <br>
b. what is the data type of y1 <br>
c. 'd' is an element of y1. Is the statement true?<br>
d. y1 is equals to y2. Is the statement true?<br>
e. Find the common element in y2 and y3 <br>

<b> Q9 : Given x=10, write a program to check whether the given number x is <b>
    
1. even or odd using if else statement.
2. negative, positive or zero using if-elif-else statement.

<b> Q10 : Create function named `message` with output of "Selamat Datang Ke USM"<b>

<b> Q11 : Write a function to perform a query on even number. The Function should return a boolean output: True if the given number is even, else the output is False. Find the following values are even or not  <b>
    
1. 3
2. 40
3. 3.2

<b> Q12 : Represent $f2(x,y,z) = x^2+y^3+\sqrt{z}$  in the form of a function in Python and  find $f2(x)$
    when $x=2$, $y=3$, $z=4$ and $x=3$, $y=5$,  $z=2.4$ <b>

<b> Q13 : Given Area and its details:
[('G', 'Gelugor', 11700),('M', 'Minden', 11800), ('J', 'Jelutong', 11600), ('BL', 'Bayan Lepas', 11900)] 

a. First write the list of tuples as a CSV file.  <b>
b. Next call the text file and print each area, e.g., as follows: Area= Gelugor ( G ) Postcode: 11700  <b>

<b> Q14 : Load the csv file using the `np.loadtxt` function using Numpy package.

 Tips: there is a file in the folder called `data` named `populations.csv`. The data describes the populations of hares and lynxes (and carrots) in northern Canada during 20 years

<b> Q15 : 

1. Load the csv file using Pandas package as Dataframe.

TIPS: A [DataFrame](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#) is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, an array or a table.

2. Compute its basic statistics.