
# MSS482 - GRAPHING TECHNOLOGY IN MATHEMATICS AND SCIENCE

**SEMESTER 1 2023/2024**


>R.U.Gobithaasan (2023). School of Mathematical Sciences, Universiti Sains Malaysia.
[Official Website](https://math.usm.my/academic-profile/705-gobithaasan-rudrusamy) 


<p align="center">
     © 2023 R.U. Gobithaasan All Rights Reserved.
</p>

# Hands-on: Introduction to Python

1.1 Python Prelimineries <br>
    a) Python installation  <br>
    b) Using Jupyter lab <br>
    c) Markdown Cells <br>
    d) Python Ecosystem & Libraries <br>
    
1.2. Python Data Types \& Containers <br>
    a) Data Types <br>
    b) Control flow statement <br>
    c) User-Defined Functions <br>

1.3. Sample of Dataset <br>
    a) Numpy <br>
    b) Pandas <br>

## Python Prelimineries

**References:** 
- [w3schools Online Materials](https://www.w3schools.com/python/)
-  [SciPi Lecture Notes](http://scipy-lectures.org/)
- Robert Johansson, Numerical Python: Scientific Computing and Data Science Applications with Numpy, SciPy and Matplotlib (2019, Apress).
- Donaldson Toby,Python: Visual QuickStart Guide (2008, Peachpit Press).
- Tony Gaddis-Starting Out with Python,(2018,Global Edition-Pearson Education)
- Robert Johansson August, Introduction to Scientific Computing in Python Continuum Analytics, (2015)

### Some shortcuts for formatting notebook

# Command line reference
Click on this link to see all the commands available: 
- [Windows commands](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/windows-commands)
- [Mac](https://developer.apple.com/library/archive/documentation/OpenSource/Conceptual/ShellScripting/CommandLInePrimer/CommandLine.html)

- you can run the command lines in python cell by adding ! in front of the command

# Using Jupyter Notebook

Depending the way you install Python and its location, you may run the following comannd in command prompt to run jupyter notebook or jupyterlab:


- to run jupyterlab:
> - `py -m jupyterlab`
> - `jupyter-lab`

- to run notebook, use any of this command:
> - `py -m notebook`
> - `python -m notebook`
> - `jupyter notebook`



Reference: [StackOverFlow](https://stackoverflow.com/questions/41034866/running-jupyter-via-command-line-on-windows)

In [1]:
!which python #for Mac/Linux

/Applications/miniconda3/envs/TFlow/bin/python

 - b: Create a new cell below the currently selected cell. 
- a: Create a new cell above the currently selected cell. 
- d-d Delete the currently selected cell.
- 1 to 6: Heading cell of level 1 to 6.
- x: Cut currently selected cell.
- c: Copy currently selected cell. 
- v: Paste cell from the clipboard. 
- m: Convert a cell to a markdown cell. 
- y: Convert a cell to a code cell. 
- Up: Select previous cell.
- Down: Select next cell.
- Enter: Enter edit mode.
- Escape: Exit edit mode.
- Shift-Enter: Run the cell.
- h: Display a help window with a list of all available keyboard shortcuts.
- 0-0: Restart the kernel. 
- i-i: Interrupt an executing cell. 
- s: Save the notebook.

### Markdown Cells

Fonts:

- italics: *text*
- bold: **text**
- stike-through: ~~text~~
- fixed-width: `text`
- url: [URL text](https://www.google.com.my/maps/)
- Vertatim( with tab):

        def func(x):
            return x ** 2
            
- New paragraph: with an empty line.

- Types of headers:

# Level 1 heading 
## Level 2 heading 
### Level 3 heading

- Block quote:
> Text here is indented and offset
> from the main text body.

- Unordered list (use - or * ):
* Item one
* Item two
* Item three

- Ordered list:
1. Item one
2. Item two
3. Item three

Table:

| A | B | C | 
|---|---|---| 
|1|2|3 | 
|4|5|6 |

### Inline LateX equation:

$f2(x,y,z) = x^2 + y^3 + \sqrt{z}$

- colored boxes

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If it’s a note, you don’t have to include the word “Note”.
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for examples that are not 
inside code cells, or use for mathematical formulas if needed.
</div>

<div class="alert alert-block alert-success">
<b>Up to you:</b> Use green boxes sparingly, and only for some specific 
purpose that the other boxes can't cover. For example, if you have a lot 
of related content to link to, maybe you decide to use green boxes for 
related links from each section of a notebook.
</div>

<div class="alert alert-block alert-danger">
<b>Just don't:</b> In general, avoid the red boxes. These should only be
used for actions that might cause data loss or another major issue.
</div>

- simple [geometric shapes](https://www.w3schools.com/charsets/ref_utf_geometric.asp)

<p>I will display a :</p>

1. triangle: &#9658;
2. black box &#9726;
3. white box &#9634;

## Python Ecosystem & Libraries

What is a Python module/package/library?

its also known as a package or library with written python functions available so that we directly use them.

The Python Package Index (PyPI) is a repository of software for the Python programming language. Many packages can directly be loaded in your machine.


run command: 
> python -m pip install *module*

where *module* is the name of the module you want to install. For example to install a module called **pandas**:
> python -m pip install pandas

Core numeric libraries
- **Numpy**: numerical computing with powerful numerical arrays objects, and routines to manip-
ulate them. [Numpy](http://www.numpy.org/) 

- **Scipy**: high-level numerical routines. Optimization, regression, interpolation, etc. [Scipy](http://www.scipy.org/)

- **Matplotlib**: 2-D visualization, “publication-ready” plots [Matplotlib](http://matplotlib.org/)

source: [SciPi Lecture Notes](http://scipy-lectures.org/)

### PyPI · The Python Package Index ##

What is a Python module/package/library?
-  its also known as a package or library with written python functions available so that we directly use them. 

-  [The Python Package Index (PyPI)](https://pypi.org/) is a repository of software for the Python programming language. Many packages can directly be loaded in your machine.

In [2]:
pip show pip

Name: pip
Version: 23.3.1
Summary: The PyPA recommended tool for installing Python packages.
Home-page: https://pip.pypa.io/
Author: The pip developers
Author-email: distutils-sig@python.org
License: MIT
Location: /Applications/miniconda3/envs/TFlow/lib/python3.10/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [3]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /Applications/miniconda3/envs/TFlow/lib/python3.10/site-packages (23.3.1)

#### Installed packages

In [4]:
!pip list

Package                      Version
---------------------------- ------------
absl-py                      2.0.0
alphashape                   1.3.1
appnope                      0.1.3
asttokens                    2.4.1
astunparse                   1.6.3
attrs                        23.1.0
Bottleneck                   1.3.5
cachetools                   5.3.2
certifi                      2023.11.17
charset-normalizer           3.3.2
click                        8.1.7
click-log                    0.4.0
click-plugins                1.1.1
cligj                        0.7.2
cloudpickle                  2.2.1
comm                         0.1.4
contourpy                    1.2.0
cycler                       0.11.0
Cython                       3.0.6
cytoolz                      0.12.2
dask                         2023.11.0
debugpy                      1.6.7
decorator                    5.1.1
Deprecated                   1.2.14
descartes                    1.1.0
exceptiongroup               1.2.0
executing                    2.0.1
Fiona                        1.9.1
flatbuffers                  23.5.26
fonttools                    4.25.0
fsspec                       2023.10.0
gast                         0.5.4
GDAL                         3.6.2
geopandas                    0.9.0
google-auth                  2.24.0
google-auth-oauthlib         1.1.0
google-pasta                 0.2.0
gudhi                        3.8.0
hopcroftkarp                 1.2.5
idna                         3.6
imagecodecs                  2023.1.23
imageio                      2.31.4
importlib-metadata           7.0.0
ipykernel                    6.26.0
ipython                      8.18.1
jedi                         0.19.1
joblib                       1.2.0
jupyter_client               8.6.0
jupyter_core                 5.5.0
keras                        2.15.0
kiwisolver                   1.4.4
lazy_loader                  0.3
libclang                     16.0.6
locket                       1.0.0
mapclassify                  2.5.0
Markdown                     3.5.1
MarkupSafe                   2.1.3
matplotlib                   3.8.0
matplotlib-inline            0.1.6
ml-dtypes                    0.2.0
munch                        2.5.0
munkres                      1.1.4
nest-asyncio                 1.5.8
networkx                     3.1
numexpr                      2.8.7
numpy                        1.26.2
oauthlib                     3.2.2
opt-einsum                   3.3.0
packaging                    23.2
pandas                       2.1.1
parso                        0.8.3
partd                        1.4.1
persim                       0.3.2
pexpect                      4.8.0
pickleshare                  0.7.5
Pillow                       10.0.1
pip                          23.3.1
platformdirs                 4.0.0
prompt-toolkit               3.0.41
protobuf                     4.23.4
psutil                       5.9.0
ptyprocess                   0.7.0
pure-eval                    0.2.2
pyasn1                       0.5.1
pyasn1-modules               0.3.0
Pygments                     2.17.2
pyparsing                    3.0.9
pyproj                       3.1.0
python-dateutil              2.8.2
pytz                         2023.3.post1
PyWavelets                   1.4.1
PyYAML                       6.0.1
pyzmq                        25.1.0
requests                     2.31.0
requests-oauthlib            1.3.1
ripser                       0.6.4
rsa                          4.9
Rtree                        1.0.1
scikit-image                 0.20.0
scikit-learn                 1.3.0
scipy                        1.11.4
setuptools                   68.0.0
shapely                      2.0.1
six                          1.16.0
stack-data                   0.6.2
tensorboard                  2.15.1
tensorboard-data-server      0.7.2
tensorflow                   2.15.0
tensorflow-estimator         2.15.0
tensorflow-io-gcs-filesystem 0.34.0
tensorflow-macos             2.15.0
tensorflow-metal             1.1.0
termcolor                    2.4.0
threadpoolctl                2.2.0
tifffile                     2023.4.12
toolz                        0.12.0
tornado                      6.3.3
traitlets                    5.14.0
trimesh                      4.0.5
typing_extensions            4.8.0
tzdata                       2023.3
urllib3                      2.1.0
wcwidth                      0.2.12
Werkzeug                     3.0.1
wheel                        0.41.2
wrapt                        1.14.1
zipp                         3.17.0

---
!python -m pip install *module*   #For Windows

#!pip freeze | (grep 'matplotlib\|numpy\|jupyter\|scipy') # For MAC and linux

---

### Let's install Some Libraries

Install [Numpy](https://numpy.org/):

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays

In [5]:
#!python -m pip install numpy

In [6]:
#!pip freeze | (grep 'numpy') # works for linux and Mac

# import numpy as np
# np.__version__

In [7]:
#np. # press <tab> to see available functions

In [8]:
np?

Object `np` not found.

In [9]:
# a1 = np.array([['Monday', 2, 3, 4], ['Tuesday', 40, 50, 60], ['Wednesday', 66, 'NaN', 88]])
# print(a1.shape)
# print(a1.ndim)
# print(a1.size)

In [10]:
# a2 = np.array([[ 0,  1,  2,  3],
#        [ 4,  5,  6,  7],
#        [ 8,  9, 10,  11],
#        [ 12,  13,  14, 15]])
# a2
# print(a13.shape)

Try to install the following packages:

1. [pandas](https://pypi.org/project/pandas/)
2. [matplotlib](https://pypi.org/project/matplotlib/)

## 1.1 Introduction to Python

### Elementary Data Types

The standard Python library provides support for various elementary data types, including including integers, booleans, floating points, and strings. A summary of the data types is shown in the table below.

| &nbsp;  |      Data Type    |   Example   |  Function      |
|:--------|:-----------------:|:------------|:-------------  |
|Number   | Integer           | x = 4       | `int`            | 
| &nbsp;  | Floating point    | x = 3.142   | `float`          |
| &nbsp;  | Boolean           | x = True    | `bool`           |
|Text     | Character         | x = 'c'     | `str`            |
| &nbsp;  | String            | x = "this" or x = 'this' | `str` |
|Sequence | List        | mylist = ["apple", "banana", "cherry"]     | `list`            |
| &nbsp;  |Tuple        |mytuple = ("apple", "banana", "cherry")    | `tuple`            |
| Mapping |Dictionaries        |thisdict = { "brand": "Ford","model": "Mustang","year": 1964}    | `dict`            |

#### (A) Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [11]:
x = 4 
print(x , type(x))

s = "This is a string" 
print(s , type(s))

4 <class 'int'>
This is a string <class 'str'>

#### (B) To set a Specific Data Type

In [12]:
x = int(4)

print(x)

z = str("name")
print (z)

4
name

#### (C) Arithmetic operations

|Operator |Name|Example|
|:--------|:-----------------:|:------------|
|+|Addition|x + y|
|-|Subtraction|x - y|
|*|Multiplication|x * y|
|/|Division|x / y|
|%|Modulus|x % y|
|**|Exponentiation|x ** y|
|//|Floor division|x // y|

To round of use `round()` function

**The following are some of the arithmetic operations available for manipulating integers and floating point numbers**

In [13]:
x = 4            # integer
y = 7.6          # floating point number

x1 = x + y       # addition
x2 = x * y       # multiplication
x += 2           # equivalent to x = x + 2
x3 = x      
x *= 3           # equivalent to x = x * 3
x4 = x
x5 = x % 3       # modulo (remainder) operator

y1 = y / 3       # division
y2 = y // 3      # integer division
y3 = y ** 2      # square of z 
y4 = y3 ** 0.5   # square root
y5 = pow(y,2)    # equivalent to square of z
y6 = round(y)    # rounding z to its nearest integer 
y7 = int(y)      # type casting float to int

print (x , x1, x2, x3, x4, x5)
print (y, y1, y2, y3, y4, y5, y6, y7)

18 11.6 30.4 6 18 0
7.6 2.533333333333333 2.0 57.76 7.6 57.76 8 7

#### (D) Arithmetic operations using `math`

math library
The following are some of the functions provided by the **math module** for integers and floating point numbers.

|Name|Funtion| Example
|:--------|:-----------------:|-----:|
|Squareroot |`math.sqrt( )`|$\sqrt{x}$|
|Square|`math.pow(base,exponent)`|  $x^2$| 
|Exponentia|`math.exp()`| $e^x$ |
|Logarithm|`math.log(variable,base)`|  $\log _{2}x$|
|Modulus|`math.fabs()`| $ |-x|$ |
|Factorial|`math.factorial()`| $x!$ <br>|
|Checks whether a number is infinite or not|`math.isinf()` | $x = \infty$|
|Checks whether a value is NaN (not a number) or not|`math.isnan()`| |
| ${\pi}$ | `math.pi()`|${\pi}$|
| Trigonometry| `math.cos()`| $cos(x)$|

In [14]:
import math 
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log based 2  (default is natural logarithm)
print(math.fabs(-4))     # absolute value
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

4.242640687119285
324.0
65659969.13733051
4.169925001442312
4.0
6402373705728000

In [15]:
#use identity operators

x = math.nan             # not a number
print(math.isnan(x))
print("\n")

x = math.inf             # infinity
print(math.isinf(x))

True


True

The `math.ceil()` method rounds a number upwards to its nearest integer, <br> `math.floor()` method rounds a number downwards to its nearest integer, <br> `math.trunc()` method returns the truncated integer part of a number (truncate: chop of the decimal part)

In [16]:
z = 0.2
print(math.ceil(z))      # ceiling function (to find the smallest integer greater than or equal to z)
print(math.floor(z))     # floor function   (to find the largest integer not greater than z)
print(math.trunc(z))     # truncate function (to find the interger part of $z$)
print("\n")

1
0
0

#### (E) Boolean

**The following show how boolean is used to evaluate logical operator;**  <br>
Evaluate any expression in Python, and get one of two answers, `True` or `False`

|Operator|Description|Example|
|:--------|:-----------------:|:------------|
|and |Returns True if both statements are true|x < 5 and  x < 10|
or|Returns True if one of the statements is true|x < 5 or x < 4|
not|Reverse the result, returns False if the result is true|not(x < 5 and x < 10)|

In [17]:
x = 4

print(x < 5 and x < 10)       # logical AND
print(x < 5 or x < 4)        # logical OR
print(x < 5 and not x < 10)   # logical NOT

True
True
False

**The following are some of the operations and functions for manipulating strings**

In [18]:
s1 = "This  is a string"
print(s1[1:])                    # print last three characters 
print(s1.replace('a','another'))  # replace "a" with "another"
print(len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print(s1.upper())                            # convert to upper case
print(s1.lower())                            # convert to lower case
print(s1.find("a"))               # find the position of "a" in s1
print((s1 + " ")* 3)              # replicate the string 3 times
print("\n")

his  is a string
This  is another string
17
Length of string is 17
THIS  IS A STRING
this  is a string
9
This  is a string This  is a string This  is a string

**The following examples shows how to us comparison operator to find true or false  statements**

In [19]:
s1 = "This  is a string"
s2 = "This"

print(s1 == 'This')               # equality comparison
print(s1 < 'That')                # inequality comparison
print(s2 + " too")                # string concatenation

False
False
This too

# 1.2 Data Types or called Containers


| &nbsp;  |      Data Type    |   Example   |  Function      |
|:--------|:-----------------:|:------------|:-------------  |
|Sequence | List        | mylist = ["apple", "banana", "cherry"]     | `list`            |
| &nbsp;  |Tuple        |mytuple = ("apple", "banana", "cherry")    | `tuple`            |
| Collection | set        | myset = {"apple", "banana", "cherry"}     | `set`            |
| Mapping |Dictionaries        |thisdict = { "brand": "Ford","model": "Mustang","year": 1964}    | `dict`            |


**Characteristics of List** <br>

* store multiple items in a single variable
* The items are ordered, changeable and allows duplicates
* items are indexed, the first item has index [0], the second item has index [1] etc.

**Characteristics of Tuple**

* Used to store multiple items in a single variable
* A collection which is ordered and unchangeable
* Written with round brackets

**Characteristics of Set**

* Used to store a collection of objects; we store multiple items in a single variable.
* A collection which is unordered, unchangeable and unindexed.
* Written with curly brackets.

**Characteristics of Dictionary**

* Used to store data values in key:value pairs.
* A collection which is ordered*, changeable and do not allow duplicates.
* written with curly brackets, and have keys and values:

**The following examples show how to create and manipulate a list object**

In [20]:
intlist = [1, 3, 5, 7, 9]


print("\n")
print(intlist[2])                # get the third element of the list

print(sum(intlist))              # sums up elements of the list
print("\n")

intlist.append(11)               # insert 11 to end of the list
print(intlist)
print(intlist.pop())             # remove last element of the list
print(intlist)

print(intlist + [11,13,15])      # concatenate two lists (means conbine two list) 

print(intlist * 3)               # replicate the list

intlist.insert(2,4)              # insert item 4 at index 2  
print(intlist)
intlist.sort(reverse=True)       # sort elements in descending order
print(intlist)

5
25


[1, 3, 5, 7, 9, 11]
11
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]
[1, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 1]

**The following examples show how to create a list between 0 and 12 with the stepsize of two**

In [21]:
print("\n")
intlist2 = list(range(0,12,2))   # range[startvalue, endvalue, stepsize]
print(intlist2)

[0, 2, 4, 6, 8, 10]

**The following examples show how to create and manipulate a dictionary object**

In [22]:
abbrev = {}
abbrev['MI'] = "Michigan"
abbrev['MN'] = "Minnesota"
abbrev['TX'] = "Texas"
abbrev['CA'] = "California"

print(abbrev)
print(abbrev.keys())            # get the keys of the dictionary
print(abbrev.values())          # get the values of the dictionary
print(len(abbrev))              # get number of key-value pairs

print(abbrev.get('MI'))
print("FL" in abbrev)          # to check do "FL" key enlisted in dictionary
print("CA" in abbrev)          # to check do "CA" key enlisted in dictionary

{'MI': 'Michigan', 'MN': 'Minnesota', 'TX': 'Texas', 'CA': 'California'}
dict_keys(['MI', 'MN', 'TX', 'CA'])
dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])
4
Michigan
False
True

In [23]:
keys = ['apples', 'oranges', 'bananas', 'cherries']  #list 1
values = [3, 4, 2, 10]                              #list 2                         
fruits = dict(zip(keys, values))    #define a dictionary 
print(fruits)
print(sorted(fruits))     # sort keys of dictionary

from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0)))    # sort by key of dictionary
print(sorted(fruits.items(), key=itemgetter(1)))    # sort by value of dictionary

{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
['apples', 'bananas', 'cherries', 'oranges']
[('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]
[('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

**The following examples show how to create and manipulate a tuple object. Unlike a list, a tuple object is immutable, i.e., they cannot be modified after creation.**

In [24]:
MItuple = ('MI', 'Michigan', 'Lansing')
CAtuple = ('CA', 'California', 'Sacramento')
TXtuple = ('TX', 'Texas', 'Austin')

print(MItuple)
print(MItuple[1:])   #slice the second element

states = [MItuple, CAtuple, TXtuple]    # this will create a list of tuples
print(states)         #
print(states[2])      # second index from states
print(states[2][:])   # to get  all the elements from TXtuple
print(states[2][1:])  # to get last two  elements from TXtuple

states.sort(key=lambda state: state[2])  # sort the states by their capital cities
print(states)

('MI', 'Michigan', 'Lansing')
('Michigan', 'Lansing')
[('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin')]
('TX', 'Texas', 'Austin')
('TX', 'Texas', 'Austin')
('Texas', 'Austin')
[('TX', 'Texas', 'Austin'), ('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento')]

**The following examples show how to create and manipulate a set object. Unlike a tuple object, the order of elements in set object is insignificant.

In [25]:
y0 = set() #to define empty set
print(y0)

set()

In [26]:
y1 = {'c', 'd', 'e', 'f','e'} 

print ('d' in y1)  # to find is 'd' in y1
y2 = {'x','c','d', 'f', 'e'}

print (y1 == y2 ) #to find is y1 is equals to y2
 
y3 = {'c','a','t'}  #To find the common element in y2 and y3
y2.intersection(y3)

True
False

{'c'}

### Control Flow Statement

* if-else statement
* if-elif-else statement 
    > Decision making is required when we want to execute a code only if a certain condition is satisfied.

* for loop
    > A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

* whlie loop 
     > With the while loop we can execute a set of statements as long as a condition is true

#### if-else and if-elif STATEMENT

if <exprression>:
    <statement A>
else:
    <statement B>
    
    
    
if <exprression>:
    <statement A>
elif:
    <statement B>
else:
    <statement C>

In [27]:
#simple example

a = 33
b = 200
if b > a:
  print("b is greater than a")


a = 333
b = 200
if b < a:
    print("b is smaller than a")
elif b > a:
    print("b is greater than a")
else:
    print("a is equals to b")

b is greater than a
b is smaller than a

In [28]:
x = 10

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")
print("\n")

if x > 0:
    print("x =", x, "is positive")
elif x < 0:
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

x = 10 is even


x = 10 is positive

#### for LOOP

In [29]:
#simple example

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [30]:
# using for loop with a list

mylist = ['this', 'is', 'a', 'list']
for word in mylist:
    print(word.replace("is", "at"))
    
mylist2 = [len(word) for word in mylist]   # number of characters in each word
print(mylist2)
print("\n")

that
at
a
latt
[4, 2, 1, 4]

In [31]:
# using for loop with list of tuples

states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin')]

sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)
print("\n")

['Austin', 'Lansing', 'Sacramento']

In [32]:
# using for loop with dictionary

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

['apples', 'oranges', 'bananas', 'cherries']

#### while LOOP

In [33]:
#simple example

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [34]:
# using while loop

mylist = list(range(-10,10))
print(mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### User-Defined Functions
You can create your own functions in Python, which can be named or unnamed. Unnamed functions are defined using the lambda keyword as shown in the previous example for sorting a list of tuples. 

 
def function(): <br>
   > statement

In [35]:
# function definition
def Greet(name):
    
    print("Apa Khabar " + name + "!")
    

#function call
Greet('Candace')

Apa Khabar Candace!

<b> The following show how to perform a query on even number. <b>

In [36]:
def QEven(num):
    '''
    Query on even number:
    PRINTS a boolean output for an as integer": true if even number, otherwise false'''
    print(num % 2 == 0)
    
QEven(3)
QEven(60)
QEven(4.2)

False
True
False

**The following shows the how to use user defined function and if-else statement**

In [37]:
def Factorial(x):
    if x == 0:
        return 1
    else:
        return (x) * Factorial(x-1)

x = 6   
print(Factorial(x))

720

<b> Let $f2(x,y,z) = x^2+y^3+\sqrt{z}$. What is $f2(x)$
    when $x=2$, $y=3$, $z=4$ and $x=3$, $y=5$,  $z=2.4$ <b>

In [38]:
def f2(x,y,z):
    from math import sqrt
    return x**2 + y**3 + sqrt(z)

print(f2(2,3,4))
print(f2(3,5,2.4))

33.0
135.54919333848298

# 1.3 Working with Dataset

Given areas in Penang and their details:

[('G', 'Gelugor', 11700),('M', 'Minden', 11800), ('J', 'Jelutong', 11600), ('BL', 'Bayan Lepas', 11900)] 

a. First, let's save the list of tuples as a CSV file using Numpy. (`python -m pip install numpy`)

b. Next call the CSV file  as 'dataset' into this notebook and print each area, e.g., as follows: Area= Gelugor ( G ) Postcode: 11700  <b>

In [39]:
areas = [('G', 'Gelugor', 11700),('M', 'Minden', 11800), ('J', 'Jelutong', 11600), ('BL', 'Bayan Lepas', 11900)] 

with open('areas.csv', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % area for area in areas))
    
with open('areas.csv', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # split each line into its respective fields
        print('Area=',fields[1],'(',fields[0],')','Postcode:', fields[2])

Area= Gelugor ( G ) Postcode: 11700

Area= Minden ( M ) Postcode: 11800

Area= Jelutong ( J ) Postcode: 11600

Area= Bayan Lepas ( BL ) Postcode: 11900

### Using Pandas
1. Loading external dataset: Load the csv file using located in `.\data\populations.csv` function using Pandas package as Dataframe. (`python -m pip install pandas`)

 Tips: 
 - Dataset: there is a file in the folder called `data` named `populations.csv`. Make sure it is in right location. The data describes the populations of hares and lynxes (and carrots) in northern Canada during 20 years.

- A [DataFrame](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#) is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, an array or a table.

2. Compute its basic statistics.

In [40]:
import pandas as pd
pd.__version__
populations = pd.read_csv("../data/populations.csv")

populations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   # year  21 non-null     int64
 1   hare    21 non-null     float64
 2   lynx    21 non-null     float64
 3   carrot  21 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 800.0 bytes

In [41]:
populations.describe()

            # year          hare          lynx        carrot
count    21.000000     21.000000     21.000000     21.000000
mean   1910.000000  34080.952381  20166.666667  42400.000000
std       6.204837  21413.981859  16655.999920   3404.555771
min    1900.000000   7600.000000   4000.000000  36700.000000
25%    1905.000000  19500.000000   8600.000000  39800.000000
50%    1910.000000  25400.000000  12300.000000  41800.000000
75%    1915.000000  47200.000000  29700.000000  44500.000000
max    1920.000000  77400.000000  59400.000000  48300.000000